* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: blueviolet;
}

.responsive{
  position: relative;
  width: 64px;
}

header .search {
  position: relative;
  width: 300px;
  height: 40px;
}

header .title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  margin: 10px 0px;
}

header .search input {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

header .search input::placeholder {
  color: #fff;
}

header .search .fa-search{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
}


@media (max-width: 991px) {
  header{
    padding: 10px 20px;
    flex-direction: column;
  }
  header .search {
    margin-bottom: 10px;
  }
}
